<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Customers management</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Customers service</h6>
          <p class="card-text">Create, Read, Update and Delete Customers</p>
          <a (click)="gotoCustomerService()" class="card-link btn btn-info">Go to</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bank account management</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Account service</h6>
          <p class="card-text">Credit, Debit, Read, Suspend and Activate an account</p>
          <button (click)="gotoAccountService()" class="card-link btn btn-info">Go to</button>
        </div>
      </div>
    </div>
  </div>
</div>
