<div class="mt-5 mb-3 text-white">
  <p>EBANK</p>
</div>
<div class="container mt-2 policy">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header text-primary text-center"><b>ACCOUNT</b></div>
        <div class="card-body">
          <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
            <div class="input-group">
              <label class="input-group-text">ACCOUNT ID :</label>
              <input type="text" formControlName="accountId" class="form-control">
              <button class="btn btn-primary"><i class="bi bi-search"></i>Search</button>
            </div>
          </form>
          <ng-container *ngIf="historyModelObservable | async as historyModel">
            <div class="mb-2">
              <label><b>Account ID : </b></label>{{formatAccountId(historyModel.accountId)}}
            </div>
            <div class="mb-2">
              <label><b>Balance : </b></label>{{historyModel.balance | number : '1.2-2'}}
            </div>
            <div class="mb-2">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Show Customer
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel"><b class="text-primary">CUSTOMER'S INFORMATION</b></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="mb-2">
                        <label><b>Firstname : </b></label>{{customerModel.firstname}}
                      </div>
                      <div class="mb-2">
                        <label><b>Name : </b></label>{{customerModel.name}}
                      </div>
                      <div class="mb-2">
                        <label><b>Date Of Birth : </b></label>{{customerModel.dateOfBirth}}
                      </div>
                      <div class="mb-2">
                        <label><b>Place Of Birth : </b></label>{{customerModel.placeOfBirth}}
                      </div>
                      <div class="mb-2">
                        <label><b>Nationality : </b></label>{{customerModel.nationality}}
                      </div>
                      <div class="mb-2">
                        <label><b>Sex : </b></label>{{customerModel.sex}}
                      </div>
                      <div class="mb-2">
                        <label><b>CIN : </b></label>{{customerModel.cin}}
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <table class="table">
              <caption>operations list</caption>
              <thead>
                <th>DATE</th>
                <th>TYPE</th>
                <th>AMOUNT</th>
                <th></th>
              </thead>
              <tbody>
              <tr *ngFor="let op of historyModel.operations">
                <td>{{op.date | date : 'dd-MM-yyyy:HH-mm-ss'}}</td>
                <td>{{op.type}}</td>
                <td>{{op.amount | number : '1.2-2'}}</td>
                <td>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1" (click)="showOperation(op)">
                    <i class="bi bi-three-dots-vertical"></i>
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel1"><b class="text-primary">OPERATION'S INFORMATION</b></h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-2">
                            <label><b>ID : </b></label>{{operationModel.id}}
                          </div>
                          <div class="mb-2">
                            <label><b>Date : </b></label>{{operationModel.date}}
                          </div>
                          <div class="mb-2">
                            <label><b>Type : </b></label>{{operationModel.type}}
                          </div>
                          <div class="mb-2">
                            <label><b>Currency : </b></label>{{operationModel.currency}}
                          </div>
                          <div class="mb-2">
                            <label><b>Aount : </b></label>{{operationModel.amount}}
                          </div>
                          <div class="mb-2">
                            <label><b>Description : </b></label>{{operationModel.description}}
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <ul class="nav nav-pills">
              <li *ngFor="let item of [].constructor(historyModel.totalPages);let page=index">
                <a [ngClass]="page==currentPage?'btn-primary':'btn-outline-primary'" (click)="gotoPage(page)" class="btn  ms-1 mt-1">{{page}}</a>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <ng-container *ngIf="historyModelObservable">
        <div class="card shadow">
          <div class="card-header text-primary text-center"><b>OPERATIONS</b></div>
          <div class="card-body">
            <form [formGroup]="operationFromGroup" (ngSubmit)="handleOperation()" method="post">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="operationType" value="DEBIT">
                <label class="form-check-label">DEBIT:</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="operationType" value="CREDIT">
                <label class="form-check-label">CREDIT:</label>
              </div>
              <div class="mb-3">
                <label class="form-label">Amount :</label>
                <input type="text" formControlName="amount" class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label">Description :</label>
                <input type="text" formControlName="description" class="form-control">
              </div>
              <div class="d-grid mb-3">
                <button class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
