<nav class="navbar navbar-expand-lg bg-info shadow" *ngIf="showNavbar">
  <div class="container-fluid">
    <a class="navbar-brand text-bold text-warning" href="#">MyAdmin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="/customer-create">New Customer</a>
        </li>

      </ul>
    </div>
    <div class="d-flex bg-warning rounded-2" *ngIf="isLoggedIn()">
      <button class="btn btn-warning" (click)="logout()">
        <i class="bi bi-box-arrow-right">
          <span class="text-white"> {{getLoggedUser()}}</span>
        </i>
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
