<div class="mt-3 container">
  <div class="card col-md-6 offset-3 mt-2 shadow">
    <div class="card-header text-center bg-secondary">
      <b class="text-warning">PLEASE LOG IN</b>
    </div>
    <div class="card-body">
      <div class="alert alert-danger" *ngIf="errorFlag==1">
        <strong>Wrong username or password.</strong>
      </div>
      <form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" formControlName="username" class="form-control">
          <span class="text-danger" *ngIf="loginFormGroup.controls['username'].touched
          && loginFormGroup.controls['username'].errors
          && loginFormGroup.controls['username'].errors!['required']">
            The username is required.
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control">
          <span class="text-danger" *ngIf="loginFormGroup.controls['password'].touched
          && loginFormGroup.controls['password'].errors
          && loginFormGroup.controls['password'].errors!['required']">
            The password is required.
          </span>
        </div>
        <button [disabled]="!loginFormGroup.valid" class="btn btn-primary">Connexion</button>
      </form>
    </div>
  </div>
</div>
