<div class=" container">
  <div class="card col-md-6 offset-3 shadow">
    <div class="card-header text-center text-primary">
      <b>CREER UN COMPTE BANCAIRE</b>
    </div>
    <div class="card-body">
      <form [formGroup]="addAccountFormGroup" (ngSubmit)="addAccount()">

        <div class="mb-3">
          <label class="form-label"><b>Devise</b></label>
          <select formControlName="currency" class="form-control">
            <option>AOA</option>
            <option>BWP</option>
            <option>DZD</option>
            <option>EGP</option>
            <option>GHS</option>
            <option>KES</option>
            <option>LSL</option>
            <option>LYD</option>
            <option>MAD</option>
            <option>MUR</option>
            <option>MWK</option>
            <option>NAD</option>
            <option>NGN</option>
            <option>RWF</option>
            <option>SCR</option>
            <option>SDG</option>
            <option>SZL</option>
            <option>TZS</option>
            <option>TND</option>
            <option>UGX</option>
            <option>XAF</option>
            <option>XOF</option>
            <option>ZAR</option>
            <option>ZMW</option>
          </select>
          <span class="text-danger" *ngIf="addAccountFormGroup.controls['currency'].touched
            && addAccountFormGroup.controls['currency'].errors
            && addAccountFormGroup.controls['currency'].errors!['required']">
            Le devise est obligatoire, veuillez selectionner un.
          </span>
        </div>

        <div class="mb-3">
          <label class="form-label"><b>Status</b></label>
          <select formControlName="status" class="form-control">
            <option>CREATED</option>
            <option>ACTIVATED</option>
            <option>BLOCKED</option>
          </select>
          <span class="text-danger" *ngIf="addAccountFormGroup.controls['status'].touched
            && addAccountFormGroup.controls['status'].errors
            && addAccountFormGroup.controls['status'].errors!['required']">
            Le status est obligatoire
          </span>
        </div>


        <button [disabled]="!addAccountFormGroup.valid" class="btn btn-primary">
          Enregistrer
        </button>
      </form>
    </div>
  </div>
</div>
