<div class="container mt-5">
  <div class="card shadow offset-2 col-md-8">
    <div class="card-header bg-light text-bold">
      Reset your password
    </div>
    <div class="card-body">
      <ngb-alert *ngIf="errorFlag">
        <p>Error Code: {{errorCode}}</p>
        <p>{{errorMessage}}</p>
        <ul *ngIf="errorValidation && errorValidation.length > 0">
          <li *ngFor="let validationError of errorValidation">{{validationError}}</li>
        </ul>
      </ngb-alert>
      <form [formGroup]="resetFormGroup" (ngSubmit)="handleSubmit()">
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email">
          <div *ngIf="resetFormGroup.get('email')?.invalid && resetFormGroup.get('email')?.touched" class="text-danger">
            Please enter a valid email address.
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="code">  Code</label>
          <input type="text" id="code" class="form-control" formControlName="code">
          <div *ngIf="resetFormGroup.get('code')?.invalid && resetFormGroup.get('code')?.touched" class="text-danger">
            Please enter a valid code.
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="password">New Password</label>
          <input type="password" id="password" class="form-control" formControlName="password">
          <div *ngIf="resetFormGroup.get('password')?.invalid && resetFormGroup.get('newPassword')?.touched" class="text-danger">
            New password is required.
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="confirmPassword">Confirm New Password</label>
          <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
          <div *ngIf="resetFormGroup.get('confirmPassword')?.invalid && resetFormGroup.get('confirmPassword')?.touched" class="text-danger">
            Confirmation of new password is required.
          </div>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-secondary" [disabled]="resetFormGroup.invalid">Update Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
