<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header bg-light">
          <h6 class="text-center">Compte bancaire</h6>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <form [formGroup]="searchAccountFormGroup" (ngSubmit)="handleSearchAccount()">
              <div class="form-group mb-3 input-group">
                <input id="accountId" formControlName="accountId" type="text" class="form-control" [class.is-invalid]="searchAccountFormGroup.get('accountId')?.invalid && searchAccountFormGroup.get('accountId')?.touched">
                <button type="submit" class="btn btn-primary" [disabled]="searchAccountFormGroup.invalid"><i class="bi bi-search"></i>Search</button>
                <div *ngIf="searchAccountFormGroup.get('accountId')?.invalid && searchAccountFormGroup.get('accountId')?.touched" class="invalid-feedback">Le numéro de compte bancaire doit avoir 12 caractheres</div>
              </div>
            </form>
          </div>
          <ng-container *ngIf="accountObservable | async as account; else loadAccountTemplate">
            <div class="mb-2"><b>Status : {{account.status}}</b></div>
            <div class="mb-2"><b>RIB : {{account.id}}</b></div>
            <div class="mb-2"><b>Devise : {{account.currency}}</b></div>
            <div class="mb-2"><b>Solde : {{account.balance | number : '1.2-2'}}</b></div>
            <div class="mb-2" *ngIf="operationsObservable | async as operations">
              <hr>
              <table class="table">
                <caption>operations list</caption>
                <thead>
                <th class="text-start">Date</th>
                <th class="text-center">Type</th>
                <th class="text-end">Montant</th>
                </thead>
                <tbody>
                <tr *ngFor="let op of operations">
                  <td class="text-start">{{op.dateTime | date : 'dd-MM-yyyy:HH-mm-ss'}}</td>
                  <td class="text-center">{{op.type}}</td>
                  <td class="text-end">{{op.amount | number : '1.2-2'}}</td>
                </tr>
                </tbody>
              </table>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" (click)="gotoPreviousPage()">Left</button>
                <button type="button" class="btn btn-primary" (click)="gotoNextPage(operations.length)">Right</button>
              </div>
            </div>
          </ng-container>
          <ng-template #loadAccountTemplate>
            <div class="alert alert-warning shadow" role="alert" *ngIf="errorFlag">
              Le compte bancaire n'a pas été trouvé : si le problème persiste, veuillez contacter un administrateur.<br>
              Code : {{errorCode}}<br>
              Message : {{errorMessage}}<br>
              Description : {{errorDescription}}
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <!-- Middle -->
    <div class="col-md-6">
      <ng-container *ngIf="accountObservable">
        <div class="card shadow" *ngIf="!errorFlag">
          <div class="card-header text-primary text-center">
            <b>OPERATION</b>
          </div>
          <div class="card-body">
            <form [formGroup]="operationFromGroup" (ngSubmit)="handleSaveOperation()" method="post">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="operationType"
                  id="debit"
                  value="DEBIT"
                  (click)="unSetTransfer()"
                  (keydown)="handleKeyDown($event, 'DEBIT')">
                <label class="form-check-label" for="debit">Debit:</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="operationType"
                  id="credit"
                  value="CREDIT"
                  (click)="unSetTransfer()"
                  (keydown)="handleKeyDown($event, 'CREDIT')">
                <label class="form-check-label" for="credit">Credit:</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  formControlName="operationType"
                  id="transfer"
                  value="TRANSFER"
                  (click)="setTransfer()"
                  (keydown)="handleKeyDown($event, 'TRANSFER')">
                <label class="form-check-label" for="transfer">Transfer:</label>
              </div>

              <div class="mb-3">
                <label class="form-label" for="amount">Montant :</label>
                <input type="text" formControlName="amount" id="amount" class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label" for="description">Description :</label>
                <input type="text" formControlName="description" id="description" class="form-control">
              </div>
              <div class="mb-3" *ngIf="isTransfer">
                <label class="form-label" for="destination">ID DESTINATION :</label>
                <input type="text" formControlName="destination" id="destination" class="form-control">
              </div>
              <div class="d-grid mb-1">
                <button class="btn btn-primary">Enregistrer</button>
              </div>
            </form>


          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
