<div class="container">
  <div class="card col-md-6 offset-3 mt-5 shadow">
    <div class="card-header text-center bg-light">
      <b>AUTHENTICATION</b>
    </div>
    <div class="card-body">
      <div class="mb-3 alert alert-warning shadow" *ngIf="errorFlag" role="alert">
        <p class="text-primary">{{errorMessage}}</p>
      </div>
      <form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
        <div class="form-group mb-3">
          <label for="username">Username</label>
          <input id="username" formControlName="username" type="text" class="form-control" [class.is-invalid]="loginFormGroup.get('username')?.invalid && loginFormGroup.get('username')?.touched">
          <div *ngIf="loginFormGroup.get('username')?.invalid && loginFormGroup.get('username')?.touched" class="invalid-feedback">
            Username is mandatory
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input id="password" formControlName="password" type="password" class="form-control" [class.is-invalid]="loginFormGroup.get('password')?.invalid && loginFormGroup.get('password')?.touched">
          <div *ngIf="loginFormGroup.get('password')?.invalid && loginFormGroup.get('password')?.touched" class="invalid-feedback">
            Password is mandatory
          </div>
        </div>
        <div class="mb-3">
          <button class="btn btn-secondary" type="submit">Connexion</button>
          <hr>
          <a class="text-secondary-emphasis" (click)="gotoRequestCodeComponent()">I've forgotten my password.</a>
        </div>
      </form>
    </div>
  </div>
</div>
