<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h6 class="text-center">Modifier le client</h6>
        </div>
        <ng-container *ngIf="errorFlag == 1">
          <div class="alert alert-warning shadow" role="alert">
            Une erreur c'est produit lors de la tentative de mise à jour du client. Si le problème persiste: veuillez contacter un administrateur.<br>
            Code : {{errorCode}}<br>
            Message : {{errorMessage}}<br>
            Description : {{errorDescription}}
          </div>
        </ng-container>
        <div class="card-body">
          <form [formGroup]="updateCustomerFormGroup" (ngSubmit)="handleUpdateCustomer()">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="firstname" class="form-label">Prénom</label>
                  <input type="text" formControlName="firstname" class="form-control" id="firstname">
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Nom</label>
                  <input type="text" formControlName="name" class="form-control" id="name">
                </div>
                <div class="mb-3">
                  <label for="dateOfBirth" class="form-label">Date de naissance</label>
                  <input type="date" formControlName="dateOfBirth" class="form-control" id="dateOfBirth">
                </div>
                <div class="mb-3">
                  <label for="placeOfBirth" class="form-label">Lieux de naissance</label>
                  <input type="text" formControlName="placeOfBirth" class="form-control" id="placeOfBirth">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="nationality" class="form-label">Nationalité</label>
                  <input type="text" formControlName="nationality" class="form-control" id="nationality">
                </div>
                <div class="mb-3">
                  <label for="sex" class="form-label">Sexe</label>
                  <select id="sex" formControlName="sex" class="form-control">
                    <option value="" disabled>Sélectionnez le sexe</option>
                    <option value="M">Masculin</option>
                    <option value="F">Féminin</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="cin" class="form-label">CIN</label>
                  <input type="text" formControlName="cin" class="form-control" id="cin">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="email">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-outline-primary">Valider les modififactions</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
