<nav class="navbar navbar-expand-lg bg-secondary shadow">
  <div class="container-fluid">
    <a class="navbar-brand text-warning" href="#"><b>eBank</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active shadow text-white" aria-current="page" routerLink="accounts-operations"><b>ACCOUNT</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active shadow text-white" aria-current="page" routerLink="create-customer"><b>CUSTOMER</b></a>
        </li>



      </ul>
      <form class="d-flex" [formGroup]="searchFormGroup" (ngSubmit)="searchCustomer()">
        <input class="form-control me-2" type="text" placeholder="search" formControlName="keyword" >
        <button class="btn btn-warning text-white">Search</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
