<div class="mt-xxl-5 container">
  <div class="alert alert-danger text-center shadow" role="alert">
    <i class="bi bi-sign-stop-fill">
      <span class="text-primary">Vous n'êtes pas autorisé à accéder à ce service !</span>
    </i>
    <br>
    <hr>
    <i class="bi bi-info-square-fill">
      <span class="text-primary">Veuillez Contacter l'administrateur pour plus de détails.</span>
    </i>
    <br>
    <hr>
    <button class="btn-outline-primary btn btn-sm" (click)="gotoLoginComponent()">
      <i> Authentification </i>
    </button>

  </div>
</div>
