<div class="mt-2 container">
  <div class="card shadow">
    <div class="card-header text-center text-success">
      <b>Editing customer information</b>
    </div>
    <div class="card-body text-center">
      <form [formGroup]="updateCustomerFormGroup" (ngSubmit)="updateCustomer()">
        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <label class="form-label"><b>Firstname</b></label>
              <input type="text" formControlName="firstname" class="form-control" value="{{customer.firstname}}" >
              <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['firstname'].touched
                && updateCustomerFormGroup.controls['firstname'].errors
                && updateCustomerFormGroup.controls['firstname'].errors!['required']">
                First name is required
             </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>Name</b></label>
              <input type="text" formControlName="name" class="form-control" value="{{customer.name}}">
              <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['name'].touched
                && updateCustomerFormGroup.controls['name'].errors
                && updateCustomerFormGroup.controls['name'].errors!['required']">
                Name is required
             </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>Date of birth</b></label>
              <input type="date" formControlName="dateOfBirth" class="form-control" value="{{customer.dateOfBirth}}">
              <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['dateOfBirth'].touched
                && updateCustomerFormGroup.controls['dateOfBirth'].errors
                && updateCustomerFormGroup.controls['dateOfBirth'].errors!['required']">
                Date of birth is required
             </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label class="form-label"><b>Place of birth</b></label>
              <input type="text" formControlName="placeOfBirth" class="form-control" value="{{customer.placeOfBirth}}">
              <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['placeOfBirth'].touched
                && updateCustomerFormGroup.controls['placeOfBirth'].errors
                && updateCustomerFormGroup.controls['placeOfBirth'].errors!['required']">
                Place of birth is required
             </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>Nationality</b></label>
              <input type="text" formControlName="nationality" class="form-control" value="{{customer.nationality}}">
              <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['nationality'].touched
                && updateCustomerFormGroup.controls['nationality'].errors
                && updateCustomerFormGroup.controls['nationality'].errors!['required']">
                Nationality is required
             </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>Passport</b></label>
              <input type="text" formControlName="cin" class="form-control" value="{{customer.cin}}">
              <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['cin'].touched
                && updateCustomerFormGroup.controls['cin'].errors
                && updateCustomerFormGroup.controls['cin'].errors!['required']">
                The cin card number is required
             </span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label class="form-label"><b>E-mail</b></label>
              <input type="text" formControlName="email" class="form-control" value="{{customer.email}}">
              <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['email'].touched
                && updateCustomerFormGroup.controls['email'].errors
                && updateCustomerFormGroup.controls['email'].errors!['required']">
                Email is required
             </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>Phone</b></label>
              <input type="text" formControlName="phone" class="form-control" value="{{customer.phone}}">
              <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['phone'].touched
                && updateCustomerFormGroup.controls['phone'].errors
                && updateCustomerFormGroup.controls['phone'].errors!['required']">
                Telephone number is required
             </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>Sex</b></label>
              <select formControlName="sex" class="form-control" value="{{customer.sex}}">
                <option>M</option>
                <option>F</option>
              </select>
              <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['sex'].touched
                && updateCustomerFormGroup.controls['sex'].errors
                && updateCustomerFormGroup.controls['sex'].errors!['required']">
                Sex is required
             </span>
            </div>
          </div>
        </div>
        <button [disabled]="!updateCustomerFormGroup.valid" class="btn btn-success">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
