<nav class="navbar navbar-expand-lg bg-body-tertiary shadow text-ubuntu" *ngIf="showNavbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bank Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="all-operations">OPERATION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="show-all-customer">CLIENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="create-customer">OPTION</a>
        </li>
      </ul>
    </div>
    <div class="text-end">
      <button class="btn btn-sm btn-outline-primary" (click)="logout()">Deconnexion</button>
    </div>
  </div>
</nav>
<router-outlet class="text-ubuntu"></router-outlet>
