<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header text-center text-success"><b>COMPTE</b></div>
        <div class="card-body">
          <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
            <div class="input-group">
              <label class="input-group-text">RIB :</label>
              <input type="text" formControlName="accountId" class="form-control">
              <button class="btn btn-success">
                <i class="bi bi-search"></i>
                Search
              </button>
            </div>
          </form>
          <ng-template #errorTemplate>
            <ng-container *ngIf="errorMessage ; else loading">
              <div class="text-danger">{{errorMessage}}</div>
            </ng-container>
            <ng-template #loading>
              Chargement en cours ...
            </ng-template>
          </ng-template>
          <ng-container *ngIf="historyModelObservable | async as historyModel">
            <div class="mb-2">
              <label>Numéro :</label>
              <label><strong>{{historyModel.accountId}}</strong></label>
            </div>
            <div class="mb-2">
              <label>Devise :</label>
              <label><strong>{{historyModel.currency}}</strong></label>
            </div>
            <div class="mb-2">
              <label>Balance :</label>
              <label><strong>{{historyModel.balance | number : '1.2-2'}}</strong></label>
            </div>
            <div class="mb-3">
              <button class="{{buttonStyle}}" (click)="showCustomerInformation(historyModel.accountId)">{{buttonText}}</button>

              <div *ngIf="tmp==1">
                <div *ngIf="customer | async as customerModel">
                  <div class="mb-1">
                    <label><b class="text-success">Sexe : </b> </label>{{customerModel.sex}}
                  </div>
                  <div class="mb-1">
                    <label><b class="text-success">CIN/Passport : </b></label>{{customerModel.cin}}
                  </div>
                  <div class="mb-1">
                    <label><b class="text-success">Prénom(s) : </b></label>{{customerModel.firstname}}
                  </div>
                  <div class="mb-1">
                    <label><b class="text-success">Nom(s) : </b></label>{{customerModel.name}}
                  </div>
                  <div class="mb-1">
                    <label><b class="text-success">Date de naissance : </b></label>{{customerModel.dateOfBirth}}
                  </div>
                  <div class="mb-1">
                    <label><b class="text-success">Lieux de naissance : </b></label>{{customerModel.placeOfBirth}}
                  </div>
                  <div class="mb-1">
                    <label><b class="text-success">Nationalité : </b></label>{{customerModel.nationality}}
                  </div>
                </div>
              </div>
            </div>

            <table class="table">
              <thead>
              <th class="text-start">Date</th>
              <th class="text-center">Type</th>
              <th class="text-end">Amount</th>
              <th></th>
              </thead>
              <tbody>
              <tr *ngFor="let op of historyModel.operations">
                <td>{{op.date | date : 'dd-MM-yyyy:HH-mm-ss'}}</td>
                <td>{{op.type}}</td>
                <td class="text-end">{{op.amount | number : '1.2-2'}}</td>
                <td>
                  <button class="btn btn-success" (click)="getOperationInformation(op.id)">
                    <i class="bi bi-info-circle"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <ul class="nav nav-pills">
              <li *ngFor="let item of [].constructor(historyModel.totalPages);let page=index">
                <a [ngClass]="page==currentPage?'btn-success':'btn-outline-success'" (click)="gotoPage(page)" class="btn  ms-1 mt-1">{{page}}</a>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card" *ngIf="historyModelObservable">
        <div class="card-header text-center text-success"><b>OPERATIONS</b></div>
        <div class="card-body">
          <form [formGroup]="operationFromGroup" (ngSubmit)="handleAccountOperation()" method="post">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="operationType" value="DEBIT">
              <label class="form-check-label"><b class="text-success">DEBIT</b>:</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="operationType" value="CREDIT">
              <label class="form-check-label"><b class="text-success">CREDIT </b>:</label>
            </div>
            <div class="mb-3">
              <label class="form-label"><b class="text-success">Montant </b>:</label>
              <input type="text" formControlName="amount" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label"><b class="text-success">Description </b>:</label>
              <input type="text" formControlName="description" class="form-control">
            </div>
            <div class="d-grid mb-3">
              <button class="btn btn-success">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
      <div class="mt-3" *ngIf="tmp2 == 1">
        <div class="card" *ngIf="operation | async as operationModel">
          <div class="card-header text-center text-success"><b>DETAILS DE L'OPERATION</b></div>
          <div class="card-body">
            <div class="mb-3">
              <label><b class="text-success">ID </b> :</label>{{operationModel.accountId}}
            </div>
            <div class="mb-3">
              <label><b class="text-success">Date </b> :</label>{{operationModel.date | date : 'dd-MM-yyyy:HH-mm-ss'}}
            </div>
            <div class="mb-3">
              <label><b class="text-success">Type </b> :</label>{{operationModel.type}}
            </div>
            <div class="mb-3">
              <label><b class="text-success">Montant </b> :</label>{{operationModel.amount | number : '1.2-2'}}
            </div>
            <div class="mb-3">
              <label><b class="text-success">Description </b> :</label>{{operationModel.description}}
            </div>
            <div class="mb-3">
              <button class="btn btn-danger" (click)="closeOperationInformation()">
                <i class="bi bi-x-circle"> Fermer</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
