<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <ng-container *ngIf="customersObservable | async as customer; else loadTemplate">
        <ul class="list-group shadow">
          <li class="list-group-item active" aria-current="true"><span class="text-center">Client</span></li>
          <li class="list-group-item"><b>Prénom :</b> {{customer.firstname}}</li>
          <li class="list-group-item"><b>Nom :</b> {{customer.lastname}}</li>
          <li class="list-group-item"><b>Date de naissance :</b> {{customer.dateOfBirth | date: 'dd/MM/yyyy' }}</li>
          <li class="list-group-item"><b>Lieux de naissance :</b> {{customer.placeOfBirth}}</li>
          <li class="list-group-item"><b>Nationalité :</b> {{customer.nationality}}</li>
          <li class="list-group-item"><b>Sexe :</b> {{customer.sex}}</li>
          <li class="list-group-item"><b>Date Inscription :</b> {{customer.createdDate | date: 'dd/MM/yyyy - HH:mm:ss'}}</li>
          <li class="list-group-item"><b>Inscription réalisé par :</b> {{customer.creator}}</li>
          <li class="list-group-item"><b>Date dernière modification :</b> {{customer.lastModifiedDate | date: 'dd/MM/yyyy - HH:mm:ss'}}</li>
          <li class="list-group-item"><b>Dernier Modifieur :</b> {{customer.lastModifier }}</li>
          <li class="list-group-item"><button class="btn btn-outline-primary" (click)="gotoUpdateCustomer()">Modifier</button></li>
        </ul>
      </ng-container>
      <ng-template #loadTemplate>
        <div class="alert alert-warning shadow" role="alert">
          Le client n'a pas été trouvé : si le problème persiste, veuillez contacter un administrateur.<br>
          Code : {{errorCode}}<br>
          Message : {{errorMessage}}<br>
          Description : {{errorDescription}}
        </div>
      </ng-template>
    </div>
    <div class="col-md-6">
      <ng-container *ngIf="accountObservable | async as account; else loadAccountTemplate">
        <div class="card shadow">
          <div class="card-header">
            <h6 class="text-center">Compte</h6>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item"><b>RIB :</b> {{account.id}}</li>
              <li class="list-group-item"><b>Status :</b> {{showStatus(account.status)}}</li>
              <li class="list-group-item"><b>Devise :</b> {{account.currency}}</li>
              <li class="list-group-item"><b>Solde :</b> {{account.balance}}</li>
            </ul>
            <hr>
            <div class="row justify-content-center">
              <div class="col-md-6">
                <button type="button" class="{{statusButtonStyle(account.status)}}" (click)="updateStatus(account)" >{{statusButton(account.status)}}</button>
              </div>
              <div class="col-md-6 text-end">
                <button type="button" class="btn btn-outline-primary">Opérations</button>
              </div>
            </div>
          </div>

        </div>
      </ng-container>
      <ng-template #loadAccountTemplate>
        <div class="alert alert-warning shadow" role="alert">
          Ce client n'a aucun compte bancaire.
          Si c'est le cas, veuillez cliquer sur créer un compte.
          <hr>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">créer un compte</button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Création du compte bancaire</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="createAccountFormGroup" (ngSubmit)="handleCreateAccount()">
                    <div class="form-group mb-3">
                      <label for="currency">Devise</label>
                      <select id="currency" formControlName="currency" class="form-control" [class.is-invalid]="createAccountFormGroup.get('currency')?.invalid && createAccountFormGroup.get('currency')?.touched">
                        <option value="" disabled>Sélectionnez la devise</option>
                        <option value="TND">Dinar Tunisien</option>
                        <option value="XAF">Franc CFA (XAF)</option>
                        <option value="XOF">Franc CFA (XOF)</option>
                        <option value="USD">Dollar Américain</option>
                        <option value="CAD">Dollar Canadien</option>
                        <option value="CHF">Franc Suisse</option>
                        <option value="GBP">Livre Sterling</option>
                        <option value="NGN">Naira</option>
                        <option value="ZAR">Rand Sud Africain</option>
                        <option value="RUB">Rouble Russe</option>
                        <option value="CNY">Yuan Chinois</option>
                      </select>
                      <div *ngIf="createAccountFormGroup.get('currency')?.invalid && createAccountFormGroup.get('currency')?.touched" class="invalid-feedback">
                        Le devise est requise pour la création d'un compte bancaire!
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="createAccountFormGroup.invalid">Envoyer</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ng-template>

    </div>
  </div>
</div>
