<div class="container mt-3">
  <div class="card col-md-6 offset-3 shadow">
    <div class="card-header text-center text-success">
      <b class="card-title">Enregistrer un nouveau client</b>
    </div>
    <div class="card-body text-secondary">
      <form [formGroup]="addCustomerFormGroup" (ngSubmit)="addCustomer()">
        <div class="row">

          <div class="col-md-6 text-center">
            <div class="mb-3">
              <label class="form-label"><b>Prénom</b></label>
              <input type="text" formControlName="firstname" class="form-control">
              <span class="text-danger" *ngIf="addCustomerFormGroup.controls['firstname'].touched
                                && addCustomerFormGroup.controls['firstname'].errors
                                && addCustomerFormGroup.controls['firstname'].errors!['required']">
                                Le prénom est requis
              </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>Nom</b></label>
              <input type="text" formControlName="name" class="form-control">
              <span class="text-danger" *ngIf="addCustomerFormGroup.controls['name'].touched
                                && addCustomerFormGroup.controls['name'].errors
                                && addCustomerFormGroup.controls['name'].errors!['required']">
                                Le nom est requis
              </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>Date de naissance</b></label>
              <input type="date" formControlName="dateOfBirth" class="form-control">
              <span class="text-danger" *ngIf="addCustomerFormGroup.controls['dateOfBirth'].touched
                                && addCustomerFormGroup.controls['dateOfBirth'].errors
                                && addCustomerFormGroup.controls['dateOfBirth'].errors!['required']">
                                La date de naissance est requise
              </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>Lieux de naissance</b></label>
              <input type="text" formControlName="placeOfBirth" class="form-control">
              <span class="text-danger" *ngIf="addCustomerFormGroup.controls['placeOfBirth'].touched
                                && addCustomerFormGroup.controls['placeOfBirth'].errors
                                && addCustomerFormGroup.controls['placeOfBirth'].errors!['required']">
                                Le lieux de naissance est requis
              </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>Nationalité</b></label>
              <input type="text" formControlName="nationality" class="form-control">
              <span class="text-danger" *ngIf="addCustomerFormGroup.controls['nationality'].touched
                                && addCustomerFormGroup.controls['nationality'].errors
                                && addCustomerFormGroup.controls['nationality'].errors!['required']">
                                La nationalité est requise
              </span>
            </div>
          </div>

          <div class="col-md-6 text-center">
            <div class="mb-3">
              <label class="form-label"><b>CIN</b></label>
              <input type="text" formControlName="cin" class="form-control">
              <span class="text-danger" *ngIf="addCustomerFormGroup.controls['cin'].touched
                                && addCustomerFormGroup.controls['cin'].errors
                                && addCustomerFormGroup.controls['cin'].errors!['required']">
                                Le numéro de la carte cin ou du passport est requise
              </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>Sexe</b></label>
              <select formControlName="sex" class="form-control">
                <option>M</option>
                <option>F</option>
              </select>
              <span class="text-danger" *ngIf="addCustomerFormGroup.controls['sex'].touched
                                    && addCustomerFormGroup.controls['sex'].errors
                                    && addCustomerFormGroup.controls['sex'].errors!['required']">
                                    Le sexe est requis
              </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>E-mail</b></label>
              <input type="text" formControlName="email" class="form-control">
              <span class="text-danger" *ngIf="addCustomerFormGroup.controls['email'].touched
                                    && addCustomerFormGroup.controls['email'].errors
                                    && addCustomerFormGroup.controls['email'].errors!['required']">
                                    L'email est requise
              </span>
            </div>
            <div class="mb-3">
              <label class="form-label"><b>TEL : </b></label>
              <input type="text" formControlName="phone" class="form-control">
              <span class="text-danger" *ngIf="addCustomerFormGroup.controls['phone'].touched
                                    && addCustomerFormGroup.controls['phone'].errors
                                    && addCustomerFormGroup.controls['phone'].errors!['required']">
                                    Le numéro de téléphone est requis
              </span>
            </div>

          </div>
        </div>
        <button [disabled]="!addCustomerFormGroup.valid" class="btn btn-success">Enregistrer</button>
      </form>
    </div>

  </div>
</div>
