<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header text-info">
          <h6 class="text-center">Bank account</h6>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <form [formGroup]="searchAccountFormGroup" (ngSubmit)="handleSearchAccount()">
              <div class="form-group mb-3 input-group">
                <input id="accountId" formControlName="accountId" type="text" class="form-control" [class.is-invalid]="searchAccountFormGroup.get('accountId')?.invalid && searchAccountFormGroup.get('accountId')?.touched">
                <button type="submit" class="btn btn-info" [disabled]="searchAccountFormGroup.invalid"><i class="bi bi-search"></i> Search</button>
                <div *ngIf="searchAccountFormGroup.get('accountId')?.invalid && searchAccountFormGroup.get('accountId')?.touched" class="invalid-feedback">The bank account number must be between 12 and 16 digits long.</div>
              </div>
            </form>
            <ng-container *ngIf="accountObservable | async as account; else loadAccountTemplate">
              <div class="mb-2">
                <p>
                  <b>ID : </b>{{account.id}}<br>
                  <b>Status : </b>{{account.status}}<br>
                  <b>Dévise : </b>{{account.currency}}<br>
                  <b>Solde : </b>{{account.balance}}
                </p>
                <div class="mt-2">
                  <p class="d-inline-flex gap-1">
                    <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      <i class="bi bi-person-circle"> Customer</i>
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <p *ngIf="customerObservable | async as customer">
                        <b>Lastname : </b>{{customer.firstname}}<br>
                        <b>Firstname : </b>{{customer.lastname}}<br>
                        <b>Date of birth : </b>{{customer.dateOfBirth}}<br>
                        <b>Place of birth : </b>{{customer.placeOfBirth}}<br>
                        <b>Gender : </b>{{customer.gender}}<br>
                        <b>CIN : </b>{{customer.cin}}<br>
                        <b>Nationality: </b>{{customer.nationality}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt2" *ngIf="operationsObservable | async as operations">
                <hr>
                <table class="table table-striped">
                  <thead>
                  <th class="text-start">Date</th>
                  <th class="text-center">Type</th>
                  <th class="text-center">Amount</th>
                  <th class="text-end"></th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let operation of operations">
                    <td class="text-start">{{operation.dateTime | date:'dd/MM/yyyy - HH:mm:ss' }}</td>
                    <td class="text-center">{{operation.type}}</td>
                    <td class="text-center">{{operation.amount}}</td>
                    <td class="text-end">
                      <button class="btn btn-outline-info" (click)="gotoOperationDetailComponent(operation)">
                        <i class="bi bi-three-dots-vertical"></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-6 text-start">
                    <p class="d-inline-flex gap-1">
                      <button type="button" class="btn btn-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="gotoPreviousPage()">
                        <i class="bi bi-caret-left"> Previous</i>
                      </button>
                      <button type="button" class="btn btn-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="gotoNextPage(operations)">
                        <i class="bi bi-caret-right"> Next</i>
                      </button>
                    </p>
                  </div>
                </div>
              </div>

            </ng-container>
            <ng-template #loadAccountTemplate>
              <div class="error mb-3 alert alert-warning" role="alert" *ngIf="errorFlag">
                <h6>Code d'erreur: {{ errorCode }}</h6>
                <p>{{ errorMessage }}</p>
                <p>{{ errorDescription }}</p>
                <div *ngIf="validationErrors.size > 0">
                  <hr>
                  <h6>Validation Errors:</h6>
                  <ul>
                    <li *ngFor="let validationError of validationErrors">{{ validationError }}</li>
                  </ul>
                </div>
                <div *ngIf="errors.size > 0">
                  <hr>
                  <h6>Field Errors:</h6>
                  <ul>
                    <li *ngFor="let key of errors.keys()">{{ key }}: {{ errors.get(key) }}</li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <!-- middle -->
    <div class="col-md-6">
      <div class="card shadow" *ngIf="accountObservable | async as account">
        <div class="card-header">
          <h6 class="text-info">Operation</h6>
        </div>
        <div class="card-body">
          <form [formGroup]="operationFromGroup" (ngSubmit)="handleAccountOperation()" method="post">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="type" value="DEBIT" id="debit">
              <label class="form-check-label" for="debit">DEBIT:</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="type" value="CREDIT" id="credit">
              <label class="form-check-label" for="credit">CREDIT:</label>
            </div>
            <div class="mb-3">
              <label class="form-label" for="amount">Amount :</label>
              <input type="text" formControlName="amount" class="form-control" id="amount">
            </div>
            <div class="mb-3">
              <label class="form-label" for="description">Description :</label>
              <input type="text" formControlName="description" class="form-control" id="description">
            </div>
            <div class="d-grid mb-3">
              <button class="btn btn-info">Run</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
